In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# doing data analysis transformation on raw_data
df_exhortation = pd.read_csv('./book_dataset/transformed_dataset_copy/booksUserRatings.csv')
avg_book_rate = df_exhortation.groupby(['item_id', 'year']).agg({'rating': ['count','mean']})
avg_book_rate.columns =['count_books','avg_book_rate']
avg_book_rate = avg_book_rate.reset_index()
avg_book_rate.to_csv('./book_dataset/transformed_dataset_copy/averageRate.csv', encoding='utf-8', index=False)

In [ ]:
# loading bookuserratings
df_exhortation = pd.read_csv('./book_dataset/transformed_dataset_copy/booksUserRatings.csv')

In [8]:
# loading the csv data
df_books = pd.read_csv('./book_dataset/transformed_dataset_copy/metadata_clean.csv')
df_ratings = pd.read_csv('./book_dataset/transformed_dataset_copy/ratings_clean.csv')
df_reviews = pd.read_csv('./book_dataset/transformed_dataset_copy/reviewss_clean.csv')
df_survey = pd.read_csv('./book_dataset/transformed_dataset_copy/survey_answers_clean.csv')
df_tagCount = pd.read_csv('./book_dataset/transformed_dataset_copy/tag_count_clean.csv')
df_tags = pd.read_csv('./book_dataset/transformed_dataset_copy/tags_clean.csv')

In [10]:
averageRate = pd.read_csv('./book_dataset/transformed_dataset_copy/averageRate.csv')
averageRate

       item_id  year  count_books  avg_book_rate
0          115  2000          781       4.373880
1          387  2005          179       3.335196
2          423  2003          657       3.916286
3          434  2006          326       3.503067
4          466  1997          233       4.120172
...        ...   ...          ...            ...
9369  56707521  2017          181       3.723757
9370  56872973  2017          170       4.423529
9371  56992688  2015          315       4.234921
9372  57041703  2017          230       4.130435
9373  57044162  2017          198       4.196970

[9374 rows x 4 columns]

In [11]:
df_exhortation = pd.merge(df_exhortation, averageRate, on='item_id', how='inner')

In [13]:
df_exhortation.to_csv('./book_dataset/transformed_dataset_copy/exhortation.csv', encoding='utf-8', index=False)